<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <h1>Faça login</h1>
    <div id="g_id_onload"
         data-client_id="{{ GOOGLE_CLIENT_ID }}"
         data-login_uri="http://localhost:5001/login/google"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
    <p>Ou, se preferir, <button onclick="naoPermitirLogin()">clique aqui</button> para informar que não deseja fazer login pelo Google.</p>

    <form id="noGoogleLogin" method="post" action="#">
        <input type="hidden" name="no_google" value="true">
    </form>

    <script>
        function naoPermitirLogin() {
            alert("Login não permitido.");
        }
    </script>
</body>
</html>